.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-gap: 1.5rem;
}

.card {
    background-color: aquamarine;
}

.add-card{
    border: 1px solid black; 
}

.card__list-remove-button {
    border-radius: 50%;
    background-color: red;
}
.card__list-add-button {
    border-radius: 50%;
    background-color: green;
}

.checkbox-checked{
    background-color: red;
    text-decoration: line-through;
}